<div class="productPage__image desktop">
	<img
		src="{{ images['productHead.png'] | img_url: 'master' }}"
		alt="Cobb Coffee Logo"
	/>
</div>

<div class="productPage__image mobile">
	<img
		src="{{ images['freshMobile.png'] | img_url: 'master' }}"
		alt="Cobb Coffee Logo"
	/>
</div>
<div class="cart">
	{% if cart.item_count > 0 %}
	<h1 class="cart--title">Shopping Cart</h1>
	<form action="/cart" method="post" novalidate>
		<table>
			<thead>
				<th>Product</th>
				<th>Quantity</th>
				<th>Total</th>
			</thead>
			<tbody>
				{% for item in cart.items %}
				<tr class="cart--row">
					<td class="cart--info">
						<a
							href="{{ item.url | within: collections.all }}"
							class="cart__item"
						>
							<img
								src="{{ item | img_url: 'medium' }}"
								alt="{{ item.title | escape }}"
							/>
						</a>
					</td>

					<td class="cart--info">
						<input
							type="number"
							name="updates[]"
							id="updates_{{ item.key }}"
							value="{{ item.quantity }}"
							min="0"
						/>
					</td>
					<td class="cart--info">
						{% if item.original_line_price != item.line_price %}{{
							item.original_line_price | money
						}}{% endif %}
						{{ item.line_price | money }}
						{% for discount in item.discounts %}{{ discount.title }}{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="cart--end">
			<p class="subtotal">Subtotal: {{ cart.total_price | money }}</p>
			<div class="button--group">
				<button type="submit" name="update" class="btn-product btn-login">
					Update
				</button>
				<button type="submit" name="checkout" class="btn-product btn-login">
					Checkout
				</button>
			</div>
		</div>
	</form>
	{% else %}
	<div class="empty">
		<h2 class="cart--title">Shopping Cart</h2>
		<p>Your Shopping Cart is empty</p>
	</div>
	{% endif %}
</div>
