{% assign current_variant = product.selected_or_first_available_variant %} {%
assign featured_image = current_variant.featured_image | default:
product.featured_image %}
<div class="productPage__image desktop">
  <img
    src="{{ images['productHead.png'] | img_url: 'master' }}"
    alt="Cobb Coffee Logo"
  />
</div>

<div class="productPage__image mobile">
  <img
    src="{{ images['freshMobile.png'] | img_url: 'master' }}"
    alt="Cobb Coffee Logo"
  />
</div>

<form
	action="/cart/add"
	method="post"
	enctype="multipart/form-data"
	id="AddToCartForm"
>
<section class="product productPage">
  <div class="product__main">

    <div class="product__main--image">
      <a href="{{ product.url }}">
        <img
          src="{{ product.featured_image | img_url: '500x500' }}"
          alt="{{ product.featured_image.alt }}"
        />
    </div>

    <div class="product__main--content">

      <p class="title">{{ product.title }}</p>
      {% for tag in product.tags %}

      <p class="subtitle">{{ tag }}</p>
      
      {% endfor %}
      <p class="price">{{ product.price | money }}</p>
      <form method="post" action="/cart/add">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <div class="column">
          <label class="quantity" for="quantity">Quantity:</label>
          <input class="input" min="1" type="number" id="quantity" name="quantity"  value="1"/>
          <input type="submit" value="Add to cart" class="btn btn-product" />
        </div>
        
      </form>
    </div>
  </div>
  

  </a>
<div class="description">
  <div>{{ product.description }}</div>

</div>

</section>
</form>
